body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://raw.githubusercontent.com/kmr0010110/vanilla-weather-app/main/src/images/mediumguillaume-galtier-3YrppYQPoCI-unsplash.jpg");
}

h1 {
  color: #202124;
  font-size: 24px;
  font-weight: 200;
  line-height: 26px;
  text-transform: lowercase;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(112, 117, 122);
  font-size: 16px;
  font-weight: 100;
  line-height: 16px;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  background: rgba(232, 232, 232, 0.4);
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  display: inline-block;
  height: 60px;
  vertical-align: top;
  width: 60px;
  margin-left: 30px;
}

.weather-temperature strong {
  color: #202124;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: 5px;
}

.source-code {
  text-decoration: none;
  color: #e45a8f;
}

.weather-temperature .active {
  color: #202124;
  cursor: default;
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.row {
  margin-top: 40px;
}
.btn-primary {
  background-color: #e45a8f;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #f082ac;
}
